@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  transition: 0.1s ease-in;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 90%;
}

body {
  color: $font-color; 
  background: #FBFBFB;
  line-height: 1.6;
}

.header-text {
  font-family: 'PT Serif', serif;
  text-transform: uppercase;

  &.lowcase {
    text-transform: capitalize;
  }
}

%text-format {
  padding: 0.5rem 0 1rem 0;
  letter-spacing: -0.44px;
}

.small-text {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.large-text {
  @extend %text-format;
  font-size: 2rem;
  font-weight: 600;

  @include minWidth($breakpoint-tablet) {
    font-size: 2.5rem;
  }
}

.medium-text {
  @extend %text-format;
  font-size: 1.6rem;
}

.sub-text {
  @extend %text-format;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

main {
  // @include generalWidth();
  padding: 5.5rem 0 5rem 0;
}

.section-wrapper {
  section {
    @include generalWidth();
    margin: 0 auto !important;
    padding: 2rem 0;
  
    div.section-container,
    &.section-container {
      padding: 2rem;
  
      @include minWidth($breakpoint-tablet) {
        padding: 4rem;
      }
  
      @include minWidth($breakpoint-desktop) {
        padding: 4rem 8rem;
      }
    }
  
    &.top {
      padding: 0;
    }

    .section-header {
      text-align: center;
    }
  }
}

div.split-row,
section.split-row {
  display: flex;
  align-items: center;
  flex-direction: column;

  .row-half {
    padding: 1.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;

    &.master,
    &.wider-master {
      width: 100%;
      flex: 2;
    }

    .row-contents {
      display: flex;
      flex-direction: column;
      max-width: 26rem;

      .action-button {
        padding: 1.2rem 0;
      }
    }
  }

  .left, .right {
    align-items: center;
    justify-content: center;
  }

  &.reverse {
    flex-direction: column-reverse;

    @include minWidth($breakpoint-tablet) {
      flex-direction: row-reverse;
  
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
    }
  }

  @include minWidth($breakpoint-tablet) {
    flex-direction: row;
    
    .left {
      order: 1;
      text-align: right;
      align-items: center;
    }

    .right {
      order: 2;
      text-align: left;
      align-items: center;
    }
    
    .row-half {
      padding: 0 1rem;
      width: 50%;
   
      // &.master {
      //   flex: 1;
      // }
    }
  }
  
  @include minWidth($breakpoint-desktop) {
    margin: 0;

    .row-half {
      padding: 0 2rem;

      &.wider-master {
        flex: 3;
      }
    }
  }
}

.select,
.input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #00000029;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
}

.select {
  color: inherit;
}

.accented-text {
  color: $secondary-color;
  font-family: 'PT Serif', serif;
}

.btn {
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: $btn-grey;
  background: transparent;
  text-decoration: none;
  font-weight: bold;

  a {
    color: $white;
    text-decoration: none;
  }

  &.solid {
    text-align: center;
    background: $secondary-color;
    color: $white;

    &.primary {
      background: $primary-color;
    }
  }

  &.plain {
    color: $secondary-color;
    padding: 0.8rem 0;

    &.no-arrow {
      &::after {
        content: "";
        padding: 0;
      }
    }

    &::after {
      content: "->";
      padding-left: 1rem;
      color: $secondary-color;
    }
  }
  
  &:hover {
    color: $font-color
  }
}

.input-container {
  display: flex;
  padding: 1.5rem 0;
  justify-content: center;

  svg,img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
  }
}

#subscription {
  form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    background: white;
    border: 1px solid #EEEEEE;
  
    .form-tagline {
      font-size: 1.35rem;
      line-height: 1.5;
    }

    .input-container {
      padding: 3rem;
      display: flex;
      flex-direction: column;

      input {
        flex: 1;
        border: none;
        border-bottom: 2px solid #B98036;
        margin: 1rem;
        padding: 1rem 1.5rem;
      }

      @include minWidth($breakpoint-tablet) {
        flex-direction: row;
      }
    }
  }
}

#banner-container {
  .banner {
    height: 25rem;
    width: 100%;
    background-image: url(/assets/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include minWidth($breakpoint-tablet) {
      background-size: 110% 110%;
    }
  }

  .banner-text {
    padding: 1.5rem;
    text-align: center;
    letter-spacing: 0.9px;
    color: $white;
    background: rgba(16, 17, 20, 0.5);
    font-family: $emphasis-font;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include minWidth($breakpoint-tablet) {
      padding: 1.5rem 4rem;
    }

    @include minWidth($breakpoint-desktop) {
      justify-content: flex-start;
      padding: 1.5rem 10rem;
    }

  }
}

.modal {
  display: none;
  z-index: 10000;

  &.visible {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: $transluscent-black;
  }
  
  .mask {
    padding-top: 9rem;
    width: 100%;
    height: 100%;
    position: relative;
  
    @include minWidth($breakpoint-tablet) {
      padding: 10rem 0 0 0;
    }
  
    @include minWidth($breakpoint-desktop) {
      display: flex;
      padding: 6.7rem 0 0 0;
    }
  
    .mask-close {
      right: 2rem;
      top: 6.5rem;
      color: $white;
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute;
  
      @include minWidth($breakpoint-tablet) {
        top: 7.5rem;
        right: 3rem;
      }
  
      @include minWidth($breakpoint-desktop) {
        right: 15rem;
        top: 8.5rem;
      }
    }
  }
}

.nav-item {
  img {
    height: 20px;
    width: 20px;

    &.reverse {
      transform: rotate(180deg);
    }
  }
}