@import "header";
@import "footer";
@import "common";
@import "variables";
@import "tabs";

#about-section {
  .row-half {
    align-self: flex-start;
  }

  #about-tab {
    width: 100%;

    .about-tabs {
      width: 100%;

      .about-tab {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1.6rem 1.4rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        background: $gray-bg;
        border: 2px solid transparent;
        color: $primary-color;
        cursor: pointer;

        &:hover {
          border-color: $secondary-color;
          color: $secondary-color;
        }

        &.selected {
          background: $secondary-color;
          color: $gray-bg;
        }
      }
    }
  }

  #about-tab-details {
    // background: black;
    
    .about-image {
      width: 100%;
      height: 250px;
      background-image: url(/assets/about_banner.jpg);
      background-size: cover;
      background-position: center;
    }

    .header-text {
      padding: 2rem 0 0 0;
      font-weight: bold;
      color: $primary-color;
    }

    .details-paragraph {
      margin-top: 2rem;

      p {
        padding: 0.8rem 0;
      }

      img.project-timeline {
        width: 100%;
      }
    }
  }
}